<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Book Recommender System</title>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
  </head>
  <style>
    .text-white {
      color: white;
    }
  </style>
  <body style="background-color: black">
    <nav class="navbar" style="background-color: #00a65a">
      <a class="navbar-brand">My Book recommender</a>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/recommend">Recommend</a></li>
        <li><a>Contact</a></li>
      </ul>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-white" style="font-size: 50px">Top 50 Books</h1>
        </div>

        {% for i in range(book_name|length) %}
        <div class="col-md-3" style="margin-top: 50px">
          <div class="card">
            <div class="card-body">
              <img class="card-img-top" src="{{ image[i] }}" />
              <p class="text-white">{{ book_name[i] }}</p>
              <h4 class="text-white">{{ author[i] }}</h4>
              <h4 class="text-white">Votes - {{ votes[i] }}</h4>
              <h4 class="text-white">Rating - {{ rating[i] }}</h4>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </body>
</html>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Book Recommender System</title>
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
      integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
      crossorigin="anonymous"
    />
  </head>
  <style>
    .text-white {
      color: white;
    }
  </style>
  <body style="background-color: black">
    <nav class="navbar" style="background-color: #00a65a">
      <a class="navbar-brand">My Book recommender</a>
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/recommend">Recommend</a></li>
        <li><a>Contact</a></li>
      </ul>
    </nav>

    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 class="text-white" style="font-size: 50px">Recommend Books</h1>
          <form action="/recommend_books" method="post">
            <input name="user_input" type="text" class="form-control" /><br />
            <input type="submit" class="btn btn-lg btn-warning" />
          </form>
        </div>

        {% if data %} {% for i in data %}
        <div class="col-md-3" style="margin-top: 50px">
          <div class="card">
            <div class="card-body">
              <img class="card-img-top" src="{{i[2]}}" />
              <p class="text-white">{{i[0]}}</p>
              <h4 class="text-white">{{i[1]}}</h4>
            </div>
          </div>
        </div>
        {% endfor %} {% endif %}
      </div>
    </div>
  </body>
</html>
from flask import Flask,render_template,request,redirect,url_for,flash
import pickle
import numpy as np
from flask_wtf import FlaskForm 
from wtforms import StringField, PasswordField, BooleanField
from wtforms.validators import InputRequired, Email, Length , ValidationError
from werkzeug.security import generate_password_hash, check_password_hash
from flask_login import login_user , current_user , logout_user , login_required,LoginManager,UserMixin
from flask_sqlalchemy import SQLAlchemy 



popular_df = pickle.load(open('popular.pkl','rb'))
pt = pickle.load(open('pt.pkl','rb'))
books = pickle.load(open('books.pkl','rb'))
similarity_scores = pickle.load(open('similarity_scores.pkl','rb'))

app = Flask(__name__)
app.app_context().push()
app.config['SECRET_KEY'] = 'Thisissupposedtobesecret!'
app.config['SQLALCHEMY_DATABASE_URI'] = 'sqlite:///UserdataDB.db'
app.config['SQLALCHEMY_TRACK_MODIFICATIONS'] = False
db = SQLAlchemy(app)
# login_manager = LoginManager(app)
# login_manager.login_view = 'login'
# login_manager.login_message_category = 'info'

class LoginForm(FlaskForm):
    username = StringField('Username', validators=[InputRequired(), Length(min=4, max=15)])
    password = PasswordField('Password', validators=[InputRequired(), Length(min=8, max=80)])
    remember = BooleanField('Remember me')

class RegisterForm(FlaskForm):
    email = StringField('Email', validators=[InputRequired(), Email(message='Invalid email'), Length(max=50)])
    username = StringField('Username', validators=[InputRequired(), Length(min=4, max=15)])
    password = PasswordField('Password', validators=[InputRequired(), Length(min=8, max=80)])

    # def validate_username(self , username):
    #     user = User123.query.filter_by(username=username.data).first()
    #     if user:
    #         raise ValidationError('That Username is taken. Please choose a new one')

class User123( db.Model , UserMixin):
    id = db.Column(db.Integer, primary_key=True)
    username = db.Column(db.String(15), unique=True)
    email = db.Column(db.String(50), unique=True)
    password = db.Column(db.String(80))


@app.route('/')
def index():
    return render_template('index.html',
                           book_name = list(popular_df['Book-Title'].values),
                           author=list(popular_df['Book-Author'].values),
                           image=list(popular_df['Image-URL-M'].values),
                           votes=list(popular_df['num_ratings'].values),
                           rating=list(popular_df['avg_rating'].values)
                           )

@app.route('/recommend')
def recommend_ui():
    return render_template('recommend.html')

@app.route('/recommend_books',methods=['post'])
def recommend():
    user_input = request.form.get('user_input')
    index = np.where(pt.index == user_input)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])), key=lambda x: x[1], reverse=True)[1:5]

    data = []
    for i in similar_items:
        item = []
        temp_df = books[books['Book-Title'] == pt.index[i[0]]]
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
        item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))

        data.append(item)

    return render_template('recommend.html',data=data)

#login route
@app.route('/login', methods=['GET', 'POST'])
def login():
    form = LoginForm()
    next_url = request.form.get("next")
    if current_user.is_authenticated:
        return redirect(url_for('index.html'))
    if form.validate_on_submit():
        user = User123.query.filter_by(username=form.username.data).first()
        # user = db.session.query(User).filter_by(username = form.username.data).first()
        if user:
            if check_password_hash(user.password, form.password.data):
                login_user(user , remember = form.remember.data )
                # next_page = request.args.get("next")
                # print(next_page)
                flash(f"Welcome {form.username.data}! , You have successfully logged in to our website." , 'success')
                if next_url:
                    return redirect(next_url)
                return redirect(url_for("contact"))
        flash("You have given wrong username or password , please try again." , "danger")
        return redirect(url_for('login'))

    return render_template('login.html', form=form)

@app.route('/signup', methods=['GET', 'POST'])
def signup():
    form = RegisterForm()
    if current_user.is_authenticated:
        return redirect(url_for('contact'))
    if form.validate_on_submit():
        hashed_password = generate_password_hash(form.password.data, method='sha256')
        user_type = request.form['user-type']
        if user_type == "user":
            new_user = User123(username=form.username.data, email=form.email.data, password=hashed_password)
            # new_user = User(username=form.username.data, email=form.email.data, password=hashed_password)
            db.session.add(new_user)
            db.session.commit()
        return redirect(url_for('login'))

    return render_template('signup.html', form=form)

if __name__ == '__main__':
    app.run(debug=True)
    <!DOCTYPE html>
    <html lang="en">
      <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Bootstrap demo</title>
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous"
        />
        <link rel="stylesheet" href="../static/css/newstyle.css">
        <link rel="stylesheet" href="../static/css/newrec.css">
      </head>
      <style>
        .text-white {
          color: white;
        }
      </style>
      <body style="background-color: rgb(150, 141, 141)">
        <nav class="navbar navbar-expand-lg bg-body-tertiary py-3">
          <div class="container-fluid">
            <a class="navbar-brand" href="#">Book Recommender</a>
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/recommend">Recommend</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/aboutus">About Us</a>
                </li>
                <!-- <li class="nav-item dropdown">
                  <a
                    class="nav-link dropdown-toggle"
                    href="#"
                    role="button"
                    data-bs-toggle="dropdown"
                    aria-expanded="false"
                  >
                    Dropdown
                  </a>
                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li>
                      <a class="dropdown-item" href="#">Something else here</a>
                    </li>
                  </ul>
                </li> -->
                <li class="nav-item">
                  <a class="nav-link disabled">Contact</a>
                </li>
              </ul>
              <form class="d-flex" role="search">
                <input
                  class="form-control me-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button class="btn btn-outline-success" type="submit">
                  Search
                </button>
              </form>
              {% if current_user.is_authenticated %}
                  <div class="navbar-nav ml-auto py-0 mx-3">
                    <a href="{{url_for('logout')}}" class="nav-item nav-link">Logout</a>
                  </div>
                  {% else %}
                  <div class="navbar-nav ml-auto py-0 mx-3">
                    <a href="{{url_for('login')}}" class="nav-item nav-link">Login</a>
                    <a href="{{url_for('signup')}}" class="nav-item nav-link">Register</a>
                  </div>
              {% endif %}
            </div>
          </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %} {% if
          messages %} {% for category, message in messages %} 
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert" style="margin-bottom:0px;">
            {{ message }}
          </div>
        {% endfor %} {% endif %} {% endwith %}</div>
      <div class="container-image">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="text-white mt-3" style="font-size: 40px">
                Recommend Books
              </h1>
              <form action="/recommend_books" method="post">
                <input
                  name="user_input"
                  type="text"
                  class="form-control mt-3"
                  style="max-width: 50vw"
                /><br />
                <input type="submit" class="btn btn-lg btn-warning" />
              </form>
            </div>
          </div>
        </div>
      </div>
            <!-- {% if data %} {% for i in data %}
            <div class="col-md-3" style="margin-top: 50px">
              <div class="card">
                <div class="card-body">
                  <img class="card-img-top" src="{{i[2]}}" />
                  <p>{{i[0]}}</p>
                  <h4>{{i[1]}}</h4>
                </div>
              </div>
            </div>
            {% endfor %} {% endif %} -->
            {% if data %}
            <main>
              <div class="box-1"><h1>Here are your recommendations : </h1>
                <div class="box-2">
                  <div class="box-3">
                      <div class="roww">
                        {% for i in data %}
                        <a href="{{url_for('detail')}}"><div class="book"><img src="{{i[2]}}" alt="" onerror="standby()" id="foo"><b>{{ i[0] }}</b> <br><b>Author: {{ i[1] }}</b></a>
                        {% endfor %}
                      </div>
                  </div>
                </div>
              </div>
            </main>
            {% endif %}
          
        <!-- <div
          class=""
          style="
            background-color: white;
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
          "
        > -->
        <footer>
          <ul class="nav justify-content-center border-bottom">
            <li class="nav-item">
              <a href="#">Home</a>
            </li>
            <li class="nav-item">
              <a href="#">Features</a>
            </li>
            <li class="nav-item">
              <a href="#">Pricing</a>
            </li>
            <li class="nav-item">
              <a href="#">FAQs</a>
            </li>
            <li class="nav-item">
              <a href="#">About</a>
            </li>
          </ul>
          <p class="text-center">&copy; 2022 Company, Inc <br><a href="https://www.vecteezy.com/">Vector Credits: Vecteezy</a></p>
        </footer>
        <!-- </div> -->
    
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
          integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
          crossorigin="anonymous"
        ></script>
        <script
          src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
          integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
          crossorigin="anonymous"
        ></script>
      </body>
    </html>