<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>About Book Recommender</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../static/css/newstyle.css" />
    <link rel="stylesheet" href="../static/css/about.css" />
  </head>
  <style>
    .text-white {
      color: white;
    }
  </style>
  <body>
    <nav class="navbar navbar-expand-lg py-3">
      <div class="container-fluid navstyle">
        <a class="navbar-brand" href="{{url_for('index')}}">BookHub</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('index')}}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recommend">Get Recommendations</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/aboutus">About Us</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                  <a class="dropdown-item" href="#">Something else here</a>
                </li>
              </ul>
            </li> -->
            <li class="nav-item">
              <a class="nav-link disabled">Contact</a>
            </li>
          </ul>
          <!-- <form class="d-flex" role="search">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-success" type="submit">
              Search
            </button>
          </form> -->
          {% if current_user.is_authenticated %}
              <div class="navbar-nav ml-auto py-0 mx-3">
                <a href="{{url_for('logout')}}" class="nav-item nav-link">Logout</a>
              </div>
              {% else %}
              <div class="navbar-nav ml-auto py-0 mx-3">
                <a href="{{url_for('login')}}" class="nav-item nav-link">Login</a>
                <a href="{{url_for('signup')}}" class="nav-item nav-link">Register</a>
              </div>
          {% endif %}
        </div>
      </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
			messages %} {% for category, message in messages %} 
			<div class="alert alert-{{ category }} alert-dismissible fade show" role="alert" style="margin-bottom:0px;">
				{{ message }}
			</div>
		{% endfor %} {% endif %} {% endwith %}</div>
    <main>
      <div class="content">
        <div class="inner-content">
          <div class="content-img">
            <img src="../static/img/abt1.jpg" alt="" />
          </div>
          <div class="content-info">
            <h1>Hey! Welcome to our website.</h1>
            <p>
              BookHub, your go-to destination for book
              recommendations and reviews.
            </p>
            <p>
              Our mission is to connect readers with their next great read by
              providing personalised recommendations, in-depth book reviews, and
              a community of book lovers to discuss and share their favourites.
            </p>
            <p>
              We cater to readers of all genres and interests, from bestselling
              fiction to niche non-fiction, and everything in between.
            </p>
            <p>
              Our team of eperienced book reviews and literary enthusiasts work
              tirelessly to bring you the best and most up-to-date
              recommendations.
            </p>
            <p>
              In addition to our recommendations, we also offer a variety of
              unique features such as exclusive author interviews, book
              giveaways, and reading challenges to keep you engaged and excited
              about your next read.
            </p>
            <p>Thank you for choosing BookHub and happy reading!</p>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <ul class="nav justify-content-center border-bottom">
        <li class="nav-item">
          <a href="#">Home</a>
        </li>
        <li class="nav-item">
          <a href="#">Features</a>
        </li>
        <li class="nav-item">
          <a href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a href="#">FAQs</a>
        </li>
        <li class="nav-item">
          <a href="#">About</a>
        </li>
      </ul>
      <p class="text-center">
        &copy; 2022 Company, Inc <br /><a href="https://www.vecteezy.com/"
          >Vector Credits: Vecteezy</a
        >
      </p>
    </footer>
    <!-- </div> -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
      integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"
      integrity="sha384-mQ93GR66B00ZXjt0YO5KlohRA5SY2XofN4zfuZxLkoj1gXtW8ANNCe9d5Y3eG5eD"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
